.button_handler {
    position: relative;
  }
  
  .main_page_btn {
    width: 240px;
    height: 48px;
    padding: var(--SizeSpacing1) 20px var(--SizeSpacing1) 20px;
    gap: 12px;
    border-radius: var(--SizeRadiusRounded);
    border: 1px 0px 0px 0px;
    opacity: 0px;
    border-radius: 50px;
    background: #222222;
    border-color: #cccccc;
    font-family: "Noto Sans";
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .shade_div {
    width: 240px;
    height: 48px;
    padding: var(--SizeSpacing1) 20px var(--SizeSpacing1) 20px;
    gap: 12px;
    border-radius: var(--SizeRadiusRounded);
    border: 1px 0px 0px 0px;
    opacity: 0px;
    border-radius: 50px;
    background: #222222;
    border-color: #cccccc;
    z-index: -100;
    position: absolute;
    top: 4px;
    right: 4px;
    transition: all 0.3s ease;
  }
  
  .button_handler:hover .shade_div {
    top: 2px;
    right: 2px;
  }
  
  .clicked .shade_div {
    top: 0px;
    right: 0px;
  }

  .main_page_btn:disabled {
    cursor: not-allowed;
    background-color: #878787;
    color: black;
}

@media (max-width: 768px) {
  .main_page_btn, .shade_div {
    width: 315px;
    margin: 0 auto;
    margin-left: 30px;
  }
}