.back_btn {
    width: 48px;
    height: 48px;
    top: 90px;
    left: 50px;
    padding: var(--SizeSpacing1) 20px var(--SizeSpacing1) 20px;
    gap: 12px;
    border-radius: var(--SizeRadiusRounded);
    opacity: 0px;
    background-color: #000000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

@media (max-width: 768px) {
    .back_btn {
        top: 25px;
        left: 30px;
    }
}