


.h2 {
  font-family: "Inter";
  font-size: 22px;
  font-weight: 500;
  line-height: 26.4px;
  letter-spacing: 0.02em;
  text-align: left;
  margin-bottom: 48px;
}

.p {
  font-family: "Noto Sans";
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  
}

.ul {
  width: 100%;
  list-style: none;
}

.li {
  display: flex;
  gap: 8px;
  align-items: center;
  font-family: "Noto serif";
  font-weight: 600;
  font-size: 18px;
  line-height: 24.52px;
  color: #111111;
  margin-bottom: 8px;
}

.bullet_point {
  font-family: "Noto sans", sans-serif;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5B86F3;
  font-weight: 800;
  font-size: 16px;
  line-height: 40px;
  color: #FFFFFF;
}

.main_page_bottom_div {
  width: 481px;
  height: 118px;
  top: 481px;
  left: 399px;
  padding: 0px 30px 30px 30px;
  gap: 20px;
  opacity: 0px;
  margin: 0 auto;
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.p a {
  text-decoration: underline;
}

.uniter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.h1 {
  line-height: 40px;
  width: 440px;
  text-align: left;
  font-size: 36px;
  font-family: "Inter", sans-serif;
  font-weight: 900;
}

.row {
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
  margin-top: 173px;
}

/*######################*/

@media (max-width: 768px) {

  .row {
    max-width: 100vw;
    width: 100vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }

  .logo_cont {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 42px 0px 42px 0px;
  }

  .h1 {
    width: 100%;
    margin-right: 15px;
  }

  .h2 {
    width: 100%;
    text-align: left;
    margin-top: 12px;
  }

  .ul {
    width: 100%;
  }

  .p {
    margin-left: -20px;
  }
  .main_page_bottom_div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
