.subtitle {
    font-family: "Noto Serif";
    font-size: 18px;
    font-weight: 600;
    line-height: 24.52px;
    text-align: center;
    color: #666666;
    width: 475px;
}

.h1 {
    font-family: "Inter", sans-serif;
    font-size: 36px;
    font-weight: 900;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-align: left;

}

.h4 {
    font-family: "Noto Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 19.07px;
    text-align: center;
    color: #666666;
    margin-top: 8px;
}

.inputs_cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 18px;
    margin-top: 24px;
}

.inputs_cont input {
    width: 346px;
    height: 48px;
    padding: 10px 8px 10px 8px;
    gap: 8px;
    border-radius: 8px;
    border: 2px solid #000000;
    opacity: 0px;
    font-family: "Noto Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;

}

.divider {
    margin: 28px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.google_btn {
    width: 346px;
    height: 48px;
    top: 480px;
    left: 467px;
    padding: var(--SizeSpacing1) 20px var(--SizeSpacing1) 20px;
    gap: 12px;
    border-radius: 100px;
    border: 1px solid #000000;
    opacity: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    margin: 0 auto;
    font-family: "Noto Sans";
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    background-color: #ffffff;
}

.register_page_bottom_div {
    width: 481px;
    height: 118px;
    top: 481px;
    left: 399px;
    padding: 0px 30px 30px 30px;
    gap: 20px;
    opacity: 0px;
    margin: 0 auto;
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*########################################*/

@media (max-width: 768px) {

    .h1 {
        margin-top: 60px;    
        width: 380px;
        margin-left: 40px;
    }

    .subtitle {
        width: 315px;
        text-align: left;
        margin: 16px 0px 0px 50px;
    }

    .separater {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .register_page_bottom_div {
        height: 60px;
        margin-right: 20px;
    }
}
